{% extends 'linea_tiempo_base.html' %}

{% block contenido %}
        <form method="post" class="modal-content">
            {% csrf_token %}
            <label for="titulo" class="form-label">Año</label>
            <input type="number" class="form-control" name="year" required>

            Nombre: <input type="text" name="name"><br>
            Descripción: <textarea name="description"></textarea><br>
            <button type="submit">Enviar POST</button>
        </form>
    </div>
{% endblock %}
